{% extends 'base.html' %}

{% block title %}
    Admin Panel
{% endblock %}

{% block content %}
    <script src="{{ url_for('static', filename='js/admin_panel.js') }}" defer></script>
    <!-- Main -->
    <div class="container-fluid bg-body-tertiary mt-3">
        <div class="row p-4">
            <div class="col">
                <form id="create-forum">
                    <h4 class="mb-3">Create Forum</h4>
                    <div class="mb-3">
                        <label for="forum-name">Forum name</label>
                        <input class="form-control" type="text" name="forum-name" id="forum-name" required>
                        <div class="form-text">Up to 250 characters</div>
                    </div>
                    <div class="mb-3">
                        <label for="forum-slug">Forum slug</label>
                        <input class="form-control" type="text" name="forum-slug" id="forum-slug" required>
                        <div class="form-text">Slug is the url name</div>
                    </div>
                    <div class="mb-3">
                        <label for="forum-description">Forum description</label>
                        <input class="form-control" type="text" name="forum-description" id="forum-description" required>
                        <div class="form-text">Explain the forum's topics</div>
                    </div>
                    <div class="mb-3">
                        <label for="forum-icon">Forum icon</label>
                        <input class="form-control" type="url" name="forum-icon" id="forum-icon">
                        <div class="form-text">Valid URL - Not required</div>
                    </div>
                    <button type="submit" class="btn btn-light">Create Forum</button>
                </form>
            </div>
            <div class="col">
                <div class="row">
                    <form id="ban-user">
                        <h4 class="mb-3">Ban User</h4>
                        <div class="mb-3">
                            <label for="ban-username">Username</label>
                            <input class="form-control" type="text" name="ban-username" id="ban-username" required>
                        </div>
                        <div class="mb-3">
                            <label for="ban-reason">Ban Reason</label>
                            <input class="form-control" type="text" name="ban-reason" id="ban-reason" required>
                        </div>
                        <button type="submit" class="btn btn-light">Ban User</button>
                    </form>
                </div>
                <div class="row mt-5">
                    <form id="unban-user">
                        <h4 class="mb-3">Unban User</h4>
                        <div class="mb-3">
                            <label for="unban-username">Username</label>
                            <input class="form-control" type="text" name="unban-username" id="unban-username" required>
                        </div>
                        <button type="submit" class="btn btn-light">Unban User</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}