<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <script src="{{ url_for('static', filename='js/admin_panel.js') }}" defer></script>
    <h1>You are an admin</h1>
    <a href="{{ url_for('admin_users') }}">Get all users</a>
    <br>
    <form id="delete-user">
        <h2>Delete user</h2>
        <label>
            User ID:
            <br><input type="number" name="user_id" required>
        </label>
        <br><br>
        <button type="submit">Delete</button>
    </form>

</body>
</html>