<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="px-3">
<script src="{{ url_for('static', filename='js/global_routes.js') }}" defer></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous" defer></script>

    <div class="container-fluid px-5">
        <!-- Top Navbar -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Logo</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                        <!-- User profile Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" aria-expanded="false" data-bs-toggle="dropdown">
                                <img src="{{ user.pfp_url }}" class="me-2" alt="Avatar" width="40" height="40">
                                <span class="d-none d-md-inline text-white">{{ user.username }}</span>
                            </a>
                            <!-- Dropdown menu items -->
                            <ul class="dropdown-menu dropdown-menu-end shadow">
                                <li><a class="dropdown-menu-item p-2 d-block text-decoration-none text-white" href="{{ url_for('user_profile') }}" id="profile-link">My Profile</a></li>
                                <li><a class="dropdown-menu-item p-2 d-block text-decoration-none text-white" href="#" id="logout-link">Logout</a></li>
                                {% if user.role == 'admin' %}
                                    <li><a class="dropdown-menu-item p-2 d-block text-decoration-none text-white" href="{{ url_for('admin_panel') }}">Admin Panel</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Bottom Navbar -->
        <nav class="navbar navbar-expand-lg bg-body-secondary py-1 shadow mb-3">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 p-1">
                        <li class="nav-item">
                            <a class="nav-link active p-1" aria-current="page" href="/">Home</a>
                        </li>
                        <div class="vr mx-3"></div>
                        <li class="nav-item">
                            <a class="nav-link active p-1" aria-current="page" href="{{ url_for('forums') }}">Forums</a>
                        </li>
                        <div class="vr mx-3"></div>
                        <li class="nav-item">
                            <a class="nav-link active p-1" aria-current="page" href="/">Latest</a>
                        </li>
                        <div class="vr mx-3"></div>
                        <li class="nav-item">
                            <a class="nav-link active p-1" aria-current="page" href="/members">Members</a>
                        </li>
                        <div class="vr mx-3"></div>
                        <li class="nav-item">
                            <a class="nav-link active p-1" aria-current="page" href="/">Groups</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>