{% extends 'base.html' %}

{% block title %}
    {{ forum.name }}
{% endblock %}

{% block content %}
    <div class="container-fluid bg-body-tertiary p-3">
        <div class="row">
            <div class="col-auto">
                <img src="{{ forum.icon_url }}" alt="Forum Icon" height="160" width="160">
            </div>
            <div class="col">
                <h3>{{ forum.name }}</h3>
                <p>{{ forum.description }}</p>
            </div>
            <div class="col">
                <p>Created on: {{ forum.created_at.strftime('%Y-%m-%d') }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{#    <form id="create-thread">#}
{#        <label for="thread-title">Thread Title:</label><br>#}
{#        <input name="thread-title" id="thread-title" type="text">#}
{#        <br><br>#}
{#        <label for="thread-content">Thread Content:</label><br>#}
{#        <textarea name="thread-content" id="thread-content"></textarea>#}
{#        <button type="submit">Create Thread</button>#}
{#    </form>#}

<script>
    const create_thread_form = document.getElementById('create-thread')

    create_thread_form.addEventListener('submit', async (event) => {

        const forumSlug = '{{ forum.slug }}'
        const formData = new FormData(create_thread_form)

        const response = await fetch(`/forum/${forumSlug}/create_thread`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(Object.fromEntries(formData))
        })

        const data = await response.json()

        if (data.success) {
            create_thread_form.reset()
        } else {
            alert(data.message)
        }
        console.log(data)
    })
</script>
</body>
</html>