{% extends 'base.html' %}

{% block title %}
    Forums
{% endblock %}

{% block subtitle %}
    Forums
{% endblock %}

{% block content %}
    <div class="container-fluid bg-body-secondary shadow py-2 pt-0">
        <!-- Forums -->
        <div class="row row-cols-2 p-3 pe-0 pt-0">
            {% for forum in forums %}
                <div class="col mt-3 pe-0">
                    <div class="row bg-body-tertiary p-3 me-3">
                        <div class="col-auto d-flex justify-content-center align-items-center">
                            <img src="{{ forum.icon_url }}" alt="Forum Icon" height="75px" width="75px">
                        </div>
                        <div class="col">
                            <a class="link-warning link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
                               href="{{ url_for('forum_routes.forum', slug=forum.slug) }}">{{ forum.name }}</a><br>
                            <span style="font-size: 14px">{{ forum.description }}</span>
                        </div>
                        <div class="col-auto p-0">
                            <div class="container-fluid text-center">
                                <span class="text-warning">Threads:</span><br>
                                <span>{{ threads_count(forum.id).count }}</span>
                            </div>
                        </div>
                        <div class="col-auto p-0">
                            <div class="container-fluid text-center">
                                <span class="text-warning">Replies:</span><br>
                                <span>pseudo</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}