{% extends 'base.html' %}

{% block title %}
        TuxBoards Home
{% endblock %}

{% block subtitle %}
    General Forum
{% endblock %}

{% block content %}

    <!-- General Forum -->
    <div class="container-fluid bg-body-secondary shadow py-2">
        <div class="row py-3">
            <div class="col-auto" style="padding-left: 62px"></div>
            <div class="col-auto d-flex p-0">
                <div class="vr mx-1"></div>
            </div>
            <div class="col">
                <span>Forum</span>
            </div>
            <div class="col-auto d-flex p-0">
                <div class="vr mx-1"></div>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <span>Threads</span>
            </div>
            <div class="col-auto d-flex p-0">
                <div class="vr mx-1"></div>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <span>Replies</span>
            </div>
            <div class="col-auto d-flex p-0">
                <div class="vr mx-1"></div>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <span>Latest Reply</span>
            </div>
        </div>
        <hr class="mt-0">
        <!-- General Forums -->
        {% for forum in forums %}
            <div class="row py-1">
                <div class="col-auto d-flex justify-content-center align-items-center">
                    <img src="{{ url_for('static', filename='images/tux.png') }}" alt="tux" height="50px" width="50px">
                </div>
                <div class="col-auto d-flex p-0">
                    <div class="vr mx-1"></div>
                </div>
                <div class="col">
                    <a class="link-warning link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="{{ url_for('forum_routes.forum', slug=forum.slug) }}">{{ forum.name }}</a><br>
                    <span style="font-size: 14px">{{ forum.description }}</span>
                </div>
                <div class="col-auto d-flex p-0">
                    <div class="vr mx-1"></div>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <span>{{ threads_count(forum.id).count }}</span>
                </div>
                <div class="col-auto d-flex p-0">
                    <div class="vr mx-1"></div>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <span>Replies</span>
                </div>
                <div class="col-auto d-flex p-0">
                    <div class="vr mx-1"></div>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <span>Latest Reply</span>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}