{% extends 'base.html' %}

{% block tile %}
    Homepage
{% endblock %}

{% block content %}

    <!-- General Forum -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">General Topics</span>
        </div>
    </nav>
    <div class="container-fluid bg-body-secondary shadow py-2">
        <div class="row py-3">
            <div class="col-auto" style="padding-left: 62px"></div>
            <div class="col-auto d-flex p-0">
                <div class="vr mx-1"></div>
            </div>
            <div class="col">
                <span>Forum</span>
            </div>
            <div class="col-auto d-flex p-0">
                <div class="vr mx-1"></div>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <span>Threads</span>
            </div>
            <div class="col-auto d-flex p-0">
                <div class="vr mx-1"></div>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <span>Replies</span>
            </div>
            <div class="col-auto d-flex p-0">
                <div class="vr mx-1"></div>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <span>Latest Reply</span>
            </div>
        </div>
        <hr class="mt-0">
        <!-- General Forums -->
        {% for forum in forums %}
            <div class="row py-1">
                <div class="col-auto d-flex justify-content-center align-items-center">
                    <img src="{{ url_for('static', filename='images/tux.png') }}" alt="tux" height="50px" width="50px">
                </div>
                <div class="col-auto d-flex p-0">
                    <div class="vr mx-1"></div>
                </div>
                <div class="col">
                    <a class="link-warning link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="{{ url_for('forum_routes.forum', slug=forum.slug) }}">{{ forum.name }}</a><br>
                    <span style="font-size: 14px">{{ forum.description }}</span>
                </div>
                <div class="col-auto d-flex p-0">
                    <div class="vr mx-1"></div>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <span>{{ get_threads_count(forum.id).count }}</span>
                </div>
                <div class="col-auto d-flex p-0">
                    <div class="vr mx-1"></div>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <span>Replies</span>
                </div>
                <div class="col-auto d-flex p-0">
                    <div class="vr mx-1"></div>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <span>Latest Reply</span>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}



{#<!-- Create thread modal -->
{#                    <div class="modal fade" id="createThreadForm" tabindex="-1" aria-labelledby="#createThreadForm" aria-hidden="true">
{#                        <div class="modal-dialog">
{#                            <div class="modal-content">
{#                                <div class="modal-header">
{#                                    <h1 class="modal-title fs-5">Create Thread</h1>
{#                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
{#                                </div>
{#                                <div class="modal-body">
{#                                    <form id="thread-form">
{#                                        <div class="mb-3">
{#                                            <label for="thread-title" class="form-label">Thread Title</label>
{#                                            <input type="text" class="form-control" id="thread-title" name="thread-title">
{#                                        </div>
{#                                        <div class="mb-3">
{#                                            <label for="thread-content" class="form-label">Thread Content</label>
{#                                            <textarea class="form-control" id="thread-content" name="thread-content"></textarea>
{#                                        </div>
{#                                    </form>
{#                                </div>
{#                                <div class="modal-footer">
{#                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
{#                                    <button type="button" class="btn btn-light" id="create-thread-button">Create</button>
{#                                    <script defer>
{#                                        const thread_form = document.getElementById('thread-form')
{#                                        const create_thread_button = document.getElementById('create-thread-button')
{#
{#                                        create_thread_button.addEventListener('click', async (event) => {
{#                                            const formData = new FormData(thread_form)
{#
{#                                            const response = await fetch('forum/{{ general_forum.slug }}/create_thread', {
{#                                                method: 'POST',
{#                                                headers: {
{#                                                    'Content-Type': 'application/json'
{#                                                },
{#                                                body: JSON.stringify(Object.fromEntries(formData))
{#                                            })
{#
{#                                            const data = await response.json()
{#
{#                                            if (data.success) {
{#                                                thread_form.reset()
{#                                            } else {
{#                                                alert(data.message)
{#                                            }
{#                                            console.log(data)
{#                                        })
{#                                    </script>
{#                                </div>
{#                            </div>
{#                        </div>
{#                    </div>#}