{% extends 'base.html' %}

{% block title %}
    {{ user.username }} Profile
{% endblock %}

{% block content %}
    <script src="{{ url_for('static', filename='js/user_profile.js') }}" defer></script>

    <!-- Profile Container -->
    <div class="container-fluid bg-body-secondary p-4">
        <div class="row">
            <div class="col-auto">
                <img src="{{ user.pfp_url }}" alt="Avatar" class="me-2" height="250" width="250">
            </div>
            <div class="col-auto">
                <form id="change-profile-picture">
                    <h4 class="mb-3">Change Profile Picture</h4>
                    <div class="mb-3">
                        <label for="image_url" class="form-label">Image Url</label>
                        <input type="url" id="image_url" name="pfp_url" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-light px-2 py-1">Change</button>
                </form>
            </div>
            <div class="col d-flex"> <!-- User Info -->
                <div class="vr mx-3"></div>
                <div class="container-fluid ps-4">
                    <div class="container p-0">
                        <h4 class="d-inline">{{ user.username }}</h4>
                        <div class="vr mx-3"></div>
                        <p class="d-inline">{{ user.email }}</p>
                        <div class="vr mx-3"></div>
                        <p class="d-inline">Joined on {{ user.created_at.strftime('%Y-%m-%d') }}</p>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col"><span class="text-warning">Threads started: </span>{{ threads_count(user.id).count }}</div> <!-- Threads created by this user id -->
                        <div class="col"><span class="text-warning">Total replies: </span>pseudo 1.3k</div> <!-- Replies by this user id -->
                        <div class="col"><span class="text-warning">Sent messages: </span>pseudo 3.5k</div> <!-- Messages sent by this user id -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}